DATABASE_URL=postgres://rtk_account_manager:{{ACCOUNT_MANAGER_DB_PASSWORD}}@10.42.1.30:5432/rtk_account_manager?sslmode=disable
JWT_ACCESS_SECRET={{JWT_ACCESS_SECRET}}
JWT_REFRESH_SECRET={{JWT_REFRESH_SECRET}}
PORT=18081
AUTH_TOKEN_DELIVERY=log
CROSS_SERVICE_BROKER=log
OIDC_REDIRECT_URL=https://account-manager-staging.realtekconnect.com/v1/auth/oidc/keycloak/callback
